header {
  background-color: var(--darkest-colour);
  color: var(--lightest-colour);
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 5rem;
  justify-content: space-between;
  padding: 10px;
}

.logout-link {
  font-size: 1.6rem;
  align-self: flex-end;
}
