.peep-summary-container {
  border: 1px solid var(--mid-tone);
  border-radius: 2px;
  margin: 10px 0;
}

.peep-summary-container__header {
  background-color: var(--darkest-colour);
  color: var(--lightest-colour);
  display: flex;
  font-size: 1.6rem;
  justify-content: space-between;
  padding: 10px;
}

.peep-summary-container__time-created {
  font-size: 1.2rem;
}

.peep-summary-container__text {
  margin: 5px 0px 0px 10px;
}

.peep-summary-container__statuses {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin: 0px 0 10px 0;
}

.peep-summary-container__status {
  border-radius: 5px;
  padding-top: 10px;
}

.peep-summary-container__icon {
  margin: 0 5px;
}
