.peep-summary-container {
  border: 1px solid var(--mid-tone);
  border-radius: 2px;
  margin: 10px 0;
}

.peep-summary-container__header {
  background-color: var(--darkest-colour);
  color: var(--lighest-colour);
  display: flex;
  font-size: 1.6rem;
  justify-content: space-between;
  padding: 10px;
}

.peep-summary-container__time-created {
  font-size: 1.6rem;
}

.peep-summary-container__statuses {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin: 10px 0;
}

.peep-summary-container__icon {
  margin: 0 8px;
}
