:root {
  --lighest-colour: #f1f4f5;
  --darkest-colour: #475c7b;
  --dark-highlight: #995f53;
  --light-highlight: #c59b51;
  --mid-tone: #92a7b4;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 55%;
  }
}

/* 768px / 16px = 48em */
@media (max-width: 48em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.6rem;
}

header {
  background-color: var(--darkest-colour);
  color: var(--lighest-colour);
  font-family: "Roboto", sans-serif;
  font-size: 5rem;
}

button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}
